@media only screen and (max-width: 800px) {
    nav a {
        display: block;
        margin-bottom: 5px;
    }
    span {display: none;}
}
/*skip to content*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
/*this is for the navigation*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
header {
    background-color: #f2f2f2;
    padding: 20px;
  }
  
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
  }
  
.nav-links {
    list-style: none;
    /*display: flex;*/
    margin: 0;
    padding: 0;
  }
  
.nav-links li {
    display: inline;
    margin-right: 15px;
  }

.nav-links li:last-child {
    margin-right: 0;
  }
  
.nav-links a {
    text-decoration: none;
    color: #333;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
.nav-links a:hover {
    background-color: #ddd;
  }

.logo {
  margin-right: auto;
}

/*home page body*/

h2,h3 {color: #3299F1;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
p {padding: 1em;}
.div1 p {padding-left: 4em;
  padding-right: 4em;
}

.homepagebody {
  text-align: center;
  padding: 5em ;
  background-image: url(project-images/worldmap.jpg) ;
  background-repeat: repeat-x;
}
/* projectstylesheet.css */

.content {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  flex-wrap: wrap;
}

.left,.right {
  flex-basis: 45%; 
}

/* Style for h3 and p */
h3,
p {
  margin: 0; 
}

/* Positioning the content */
.left {
  padding: 10em;
  border-color: black;
  border-radius: 10em;
  text-align: center;
}

.right {
  padding: 10em;
  border-color: black;
  border-radius: 10em;
  text-align: center;
  margin-top: 10em;
}
