@media only screen and (max-width: 800px) {
    nav a {
        display: block;
        margin-bottom: 10px;
    }
    span {display: none;}
}
.navflex {
    display: flex;
    justify-content: space-between;
}
.nav2flex{
   display: flex;
    justify-content: space-evenly;
}
